.logo {
  height: 80px;
  padding: 20px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}
h1{
  font-size: 35px;
}
@media (max-width: 768px) {
  h1{
    font-size: 25px;
  }
  .logo {
    height: 50px;
  }
}
@media (max-width: 425px) {
  h1{
    font-size: 20px;
  }
  .logo {
    height: 40px;
  }
}
